﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spogger - The Spogger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- Include All CSS -->
    <link rel="stylesheet" type="text/css" href="/App/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/preset.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/App/css/responsive.css" />
    <!-- End Include All CSS -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/App/images/favicona.png">
    <!-- Favicon Icon -->
    <!--[if lt IE 9]>
        <script src="/App/js/html5shiv.js"></script>
        <script src="/App/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="bodyWraper">
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="niticeBar">
                            @*<p>Need help to grow your traffic? <span>Give us a</span> <a href="#">Call</a></p>
                                <i class="fa fa-bolt pull-right buzicon"></i>*@
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="logo">
                            <a href="/">SPOGGER</a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-6">
                        <div class="secondaryMenu2">
                            <p class="social">
                                <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="tw" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="gp" href="#"><i class="fa fa-google-plus"></i></a>
                                <a class="pi" href="#"><i class="fa fa-pinterest"></i></a>
                                <a class="noMarginRight menusaaa" href="#"><i class="fa fa-bars"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_sidebarMenu">
                <div class="exit">kapat</div>
                <div class="sidebar_menu">
                    <aside class="widget authorwidget">
                        <h3 class="widgetTitle"><span>Kategoriler</span></h3>
                        <div class="widgetbody">
                            <ul>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">fashion</a></li>
                                <li><a href="#">Foods</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Media</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </aside>
                    <aside class="widget authorwidget">
                        <h3 class="widgetTitle"><span>lifestyle</span></h3>
                        <div class="widgetbody">
                            <div class="singleCatePost text-center">
                                <h4><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                                <div class="postThum">
                                    <img alt="" src="/App/images/widgets/w2.jpg">
                                </div>
                                <p class="metau">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                    <span><i class="fa fa-comment-o"></i><a href="#">13</a></span>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </aside>
                    <aside class="widget noMarginBottom">
                        <h3 class="widgetTitle"><span>Subscribe</span></h3>
                        <div class="widgetbody">
                            <div class="subscribes">
                                <h3>
                                    "Double Your Traffic in 30 days" + Secret Bonus"
                                </h3>
                                <form method="post" action="#" id="subscribe2">
                                    <input type="email" name="sub_email" id="sub_email2" placeholder="Email" />
                                    <button type="submit" id="sub_submit2">Subscribe</button>
                                </form>
                                <p>100% Privacy. We will never spam you!</p>
                            </div>
                        </div>
                    </aside>
                    <div class="footerSocial sidebarsocial">
                        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="pi noMarginRight"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </header>

        <section class="menus">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navarea">
                            <div class="col-sm-9">
                                <nav class="mainMenu">
                                    <div class="mobileMenu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <ul>
                                        <li class="has-menu-items active">
                                            <a href="/">Anasayfa</a>
                                        </li>
                                        @{
                                            Html.RenderAction("GetHeaderMenu", "Category");
                                        }
                                        <li><a href="hakkimizda">Hakkımızda</a></li>
                                        <li><a href="iletisim">İletişİm</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-sm-3">
                                <div class="search">
                                    <form method="post" action="#">
                                        <input type="text" placeholder="Search Heare..." name="s" id="s" />
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        @RenderBody()

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footerInner">
                            <div class="row">
                                <div class="col-lg-3 col-sm-2">
                                    <div class="foLogo">
                                        <a href="#">BEQUB.</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-7">
                                    <div class="footerNav">
                                        <ul>
                                            <li><a href="aboutme.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                            <li><a href="terms.html">terms</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="footerSocial">
                                        <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                                        <a class="tw" href="#"><i class="fa fa-twitter"></i></a>
                                        <a class="gp" href="#"><i class="fa fa-google-plus"></i></a>
                                        <a class="pi noMarginRight" href="#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="copyright text-center">&COPY; 2016 BEQUB. All rights reserved by <a href="https://themeforest.net/user/expandtheme/portfolio">ExpandTheme</a>.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>

    </div>

    <!-- Include All JS -->
    <script type="text/javascript" src="/App/js/jquery.js"></script>
    <script type="text/javascript" src="/App/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/App/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="/App/js/gmaps.js"></script>
    <script type="text/javascript" src="/App/js/owl.carousel.js"></script>
    <script type="text/javascript" src="/App/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/App/js/theme.js"></script>
</body>

<!-- Mirrored from expandtheme.online/html/bequb/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Mar 2018 18:29:26 GMT -->
</html>