/*
  Theme Name: BEQUB - The Bloger HTML5 Responsive Template
  Theme URL: http://themewar.com/html/bequb
  Author: ThemeWar
  Author URI: https://themeforest.net/user/expandtheme
  Description: BEQUB - The Bloger
  Version: 1.0
*/


/*=======================================================================
// Fonts
=========================================================================*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@font-face {
    font-family: 'Jaapokki Regular';
    src: url('../fonts/jaapokki-regular.eot');
    src: url('../fonts/jaapokki-regulard41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jaapokki-regular.html') format('woff2'),
         url('../fonts/jaapokki-regular.woff') format('woff'),
         url('../fonts/jaapokki-regular.ttf') format('truetype'),
         url('../fonts/jaapokki-regular.svg#jaapokkiregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, html{
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #6a7a89;
    font-weight: 400;
    background: #F3F3F3;
}
.bodyWraper{
    width: 1390px;
    margin: 0 auto;
    background: #FFF;
    position: relative;
}
a{
    text-decoration: none;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
    -o-transition: all ease 500ms;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #D0A97E;
}
h1, h2, h3, h4, h5, h6{
    font-family: Jaapokki Regular;
    line-height: 1.1;
    margin-bottom: 15px;
}

/*=======================================================================
// Common Css
=========================================================================*/
.commonSection{
    width: 100%;
    position: relative;
    padding: 100px 0 80px;
}
.homeSections{
    padding-top: 70px;
}
.commonContentSection{
    padding: 100px 0 70px;
    position: relative;
}
.greys{
    background: #E9EDF1;
}
.noPaddingRight{
    padding-right: 0px !important;
}
.noPaddingLeft{
    padding-left: 0px !important;
}
.noPaddingBottom{
    padding-bottom: 0px !important;
}
.noPaddingTop{
    padding-top: 0px !important;
}

.noMarginRight{
    margin-right: 0px !important;
}
.noMarginBottom{
    margin-bottom: 0px !important;
}
.noBorder{
    border: none !important;
}
.noPadding{
    padding: 0px !important;
}
.noMargin{
    margin: 0 !important;
}
