﻿@model List<Spogger.Model.Category>

@foreach (var item in Model.Where(x => x.ParentId == 0))
{
    <li class="has-menu-items">
        <a href="javascript:;">@item.DisplayName</a>
        <ul class="sub-menu">
            @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
            {
                <li><a href="/Category/Detail/@subItem.Id">@subItem.DisplayName</a></li>
            }
        </ul>
    </li>
}