﻿@model Spogger.Web.Models.ViewModel.CategoryViewModel
<div style="padding:50px;">
    <div class="row" style="padding:10px;">
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-3">
                <h4>Kategori Adı : @category.DisplayName</h4>
                <img src="@category.ImagePath" style="height:150px; width: 100%;" />
            </div>
        }
    </div>
</div>