﻿<section class="singleFeatures">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="featuredSliders">
                    <div class="bSFeatured">
                        <img src="/App/images/home1/f1.jpg" alt="" />
                        <div class="featags">
                            <a href="#">LifeStyle</a>
                        </div>
                        <div class="feaCon">
                            <h3><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h3>
                            <p class="feameta">
                                <a href="#">By Shara Ferdous</a> <a href="#">05 Sept, 2015</a>
                            </p>
                            <div class="clearfix"></div>
                            <a class="readMore" href="#">
                                Continue Reading <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="bSFeatured">
                        <img src="/App/images/home1/f2.jpg" alt="" />
                        <div class="featags">
                            <a href="#">LifeStyle</a>
                        </div>
                        <div class="feaCon">

                            <h3><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h3>
                            <p class="feameta">
                                <a href="#">By Shara Ferdous</a> <a href="#">05 Sept, 2015</a>
                            </p>
                            <div class="clearfix"></div>
                            <a class="readMore" href="#">
                                Continue Reading <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="bSFeatured">
                        <img src="/App/images/home1/f4.jpg" alt="" />
                        <div class="featags">
                            <a href="#">LifeStyle</a>
                        </div>
                        <div class="feaCon">
                            <h3><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h3>
                            <p class="feameta">
                                <a href="#">By Shara Ferdous</a> <a href="#">05 Sept, 2015</a>
                            </p>
                            <div class="clearfix"></div>
                            <a class="readMore" href="#">
                                Continue Reading <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<section class="commonContentSection homeSections">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="singlePostLoop text-center has_desc bigPost">
                            <div class="loopCat"><div class="loopCatInner"><a href="#">Lifestyle</a><a href="#">Fashion</a></div></div>
                            <div class="loopThumb">
                                <img src="/App/images/home1/b2.jpg" alt="" />
                                <div class="loopHover">
                                    <div class="loopHOverInner">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="hoverIcon">
                                        <a class="popUp" href="images/home1/b2.jpg"><img src="/App/images/zoom.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="loopTitle"><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postCon bigPostcon">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum
                                is that it has. It is a long established fact that a reader will be distracted
                                by the readable content of a page when looking at its layout.
                            </div>
                            <div class="postFooter">
                                <p class="metau metaOneThird text-left">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                </p><p class="metaSocial metaOneThird text-center">
                                    <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="tw" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="gp" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="ld" href="#"><i class="fa fa-linkedin"></i></a>
                                </p><p class="metau text-right metaOneThird">
                                    <span><i class="fa fa-comment-o"></i><a href="#">13 Comments</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="singlePostLoop text-center has_desc">
                            <div class="loopCat"><div class="loopCatInner"><a href="#">Lifestyle</a><a href="#">Fashion</a></div></div>
                            <div class="loopThumb">
                                <img src="/App/images/home1/7.jpg" alt="" />
                                <div class="loopHover paddingHalf">
                                    <div class="loopHOverInner">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="hoverIcon">
                                        <a class="popUp" href="images/home1/7.jpg"><img src="/App/images/zoom.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="loopTitle"><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postCon">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum
                                is that it has.
                            </div>
                            <div class="postFooter">
                                <p class="metau metaHalfs text-left">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                </p><p class="metau text-right  metaHalfs">
                                    <span><i class="fa fa-comment-o"></i><a href="#">05 Comments</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="singlePostLoop text-center has_desc">
                            <div class="loopCat"><div class="loopCatInner"><a href="#">Lifestyle</a><a href="#">Fashion</a></div></div>
                            <div class="loopThumb">
                                <img src="/App/images/home1/2.jpg" alt="" />
                                <div class="loopHover paddingHalf">
                                    <div class="loopHOverInner">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="hoverIcon">
                                        <a class="popUp" href="images/home1/2.jpg"><img src="/App/images/zoom.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="loopTitle"><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postCon">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum
                                is that it has.
                            </div>
                            <div class="postFooter">
                                <p class="metau metaHalfs text-left">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                </p><p class="metau text-right  metaHalfs">
                                    <span><i class="fa fa-comment-o"></i><a href="#">08 Comments</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="singlePostLoop text-center has_desc">
                            <div class="loopCat"><div class="loopCatInner"><a href="#">Lifestyle</a><a href="#">Fashion</a></div></div>
                            <div class="loopThumb">
                                <img src="/App/images/home1/3.jpg" alt="" />
                                <div class="loopHover paddingHalf">
                                    <div class="loopHOverInner">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="hoverIcon">
                                        <a class="popUp" href="images/home1/3.jpg"><img src="/App/images/zoom.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="loopTitle"><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postCon">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum
                                is that it has.
                            </div>
                            <div class="postFooter">
                                <p class="metau metaHalfs text-left">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                </p><p class="metau text-right  metaHalfs">
                                    <span><i class="fa fa-comment-o"></i><a href="#">08 Comments</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="singlePostLoop text-center has_desc">
                            <div class="loopCat"><div class="loopCatInner"><a href="#">Lifestyle</a><a href="#">Fashion</a></div></div>
                            <div class="loopThumb">
                                <img src="/App/images/home1/4.jpg" alt="" />
                                <div class="loopHover paddingHalf">
                                    <div class="loopHOverInner">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="hoverIcon">
                                        <a class="popUp" href="images/home1/4.jpg"><img src="/App/images/zoom.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="loopTitle"><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postCon">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum
                                is that it has.
                            </div>
                            <div class="postFooter">
                                <p class="metau metaHalfs text-left">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                </p><p class="metau text-right  metaHalfs">
                                    <span><i class="fa fa-comment-o"></i><a href="#">08 Comments</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="singlePostLoop text-center has_desc">
                            <div class="loopCat"><div class="loopCatInner"><a href="#">Lifestyle</a><a href="#">Fashion</a></div></div>
                            <div class="loopThumb">
                                <img src="/App/images/home1/5.jpg" alt="" />
                                <div class="loopHover paddingHalf">
                                    <div class="loopHOverInner">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="hoverIcon">
                                        <a class="popUp" href="images/home1/5.jpg"><img src="/App/images/zoom.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="loopTitle"><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postCon">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum
                                is that it has.
                            </div>
                            <div class="postFooter">
                                <p class="metau metaHalfs text-left">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                </p><p class="metau text-right  metaHalfs">
                                    <span><i class="fa fa-comment-o"></i><a href="#">08 Comments</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="singlePostLoop text-center has_desc">
                            <div class="loopCat"><div class="loopCatInner"><a href="#">Lifestyle</a><a href="#">Fashion</a></div></div>
                            <div class="loopThumb">
                                <img src="/App/images/home1/6.jpg" alt="" />
                                <div class="loopHover paddingHalf">
                                    <div class="loopHOverInner">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="hoverIcon">
                                        <a class="popUp" href="images/home1/6.jpg"><img src="/App/images/zoom.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="loopTitle"><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postCon">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum
                                is that it has.
                            </div>
                            <div class="postFooter">
                                <p class="metau metaHalfs text-left">
                                    <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                </p><p class="metau text-right  metaHalfs">
                                    <span><i class="fa fa-comment-o"></i><a href="#">08 Comments</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="fullPagin text-center">
                            <a href="#" class="prev pull-left"><i class="fa fa-long-arrow-left"></i></a>
                            <span class="current">1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#" class="next pull-right"><i class="fa fa-long-arrow-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 sidebars">
                <aside class="widget authorwidget">
                    <h3 class="widgetTitle"><span>About Me</span></h3>
                    <div class="widgetbody">
                        <div class="authorImg">
                            <img src="/App/images/author.jpg" alt="" />
                        </div>
                        <div class="authorDetails">
                            Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has
                            been the industry's standard
                        </div>
                        <div class="authsig">ThemeWar</div>
                    </div>
                </aside>
                <aside class="widget authorwidget">
                    <h3 class="widgetTitle"><span>Stay Connected</span></h3>
                    <div class="widgetbody">
                        <a href="#" class="sociala"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="sociala"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="sociala"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="sociala"><i class="fa fa-pinterest"></i></a>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget authorwidget">
                    <h3 class="widgetTitle"><span>Popular</span></h3>
                    <div class="widgetbody">
                        <div class="singlePopular">
                            <a class="cate" href="#">Fashion</a>
                            <h4><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <p class="metau">
                                <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                <span><i class="fa fa-eye"></i><a href="#">176</a></span>
                                <span><i class="fa fa-comment-o"></i><a href="#">13</a></span>
                            </p>
                        </div>
                        <div class="singlePopular">
                            <a class="cate" href="#">Fashion</a>
                            <h4><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <p class="metau">
                                <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                <span><i class="fa fa-eye"></i><a href="#">176</a></span>
                                <span><i class="fa fa-comment-o"></i><a href="#">13</a></span>
                            </p>
                        </div>
                        <div class="singlePopular">
                            <a class="cate" href="#">Fashion</a>
                            <h4><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <p class="metau">
                                <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                <span><i class="fa fa-eye"></i><a href="#">176</a></span>
                                <span><i class="fa fa-comment-o"></i><a href="#">13</a></span>
                            </p>
                        </div>
                        <div class="singlePopular noMarginBottom noBorder noPaddingBottom">
                            <a class="cate" href="#">Fashion</a>
                            <h4><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <p class="metau">
                                <span><i class="fa fa-calendar"></i><a href="#">26th June, 2016</a></span>
                                <span><i class="fa fa-eye"></i><a href="#">176</a></span>
                                <span><i class="fa fa-comment-o"></i><a href="#">13</a></span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget authorwidget">
                    <h3 class="widgetTitle"><span>lifestyle</span></h3>
                    <div class="widgetbody">
                        <div class="singleCatePost text-center">
                            <h4><a href="blog_single.html">Interior of the week (london): UT Enim at Minima veniam</a></h4>
                            <div class="postThum">
                                <img src="/App/images/widgets/w2.jpg" alt="" />
                            </div>
                            <p class="metau">
                                <span><a href="#">26th June, 2016</a></span>
                                <span><a href="#"><i class="fa fa-comment-o"></i>13</a></span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget authorwidget">
                    <h3 class="widgetTitle"><span>Categories</span></h3>
                    <div class="widgetbody">
                        <ul>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">fashion</a></li>
                            <li><a href="#">Foods</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Media</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget noMarginBottom">
                    <h3 class="widgetTitle"><span>Subscribe</span></h3>
                    <div class="widgetbody">
                        <div class="subscribes">
                            <h3>
                                "Double Your Traffic in 30 days" + Secret Bonus"
                            </h3>
                            <form method="post" action="#" id="subscribe">
                                <input type="email" name="sub_email" id="sub_email" placeholder="Email" />
                                <button type="submit" id="sub_submit">Subscribe</button>
                            </form>
                            <p>100% Privacy. We will never spam you!</p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="commonSection instagrams noPaddingTop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <aside class="widget authorwidget instafeeds noMarginBottom">
                    <h3 class="widgetTitle"><span><i class="fa fa-instagram"></i> &nbsp;Instagram Feeds</span></h3>
                    <div class="widgetbody text-center">
                        <a href="#">
                            <img src="/App/images/widgets/i1.jpg" alt="" />
                        </a><a href="#">
                            <img src="/App/images/widgets/i2.jpg" alt="" />
                        </a><a href="#">
                            <img src="/App/images/widgets/i3.jpg" alt="" />
                        </a><a href="#">
                            <img src="/App/images/widgets/i4.jpg" alt="" />
                        </a><a href="#">
                            <img src="/App/images/widgets/i5.jpg" alt="" />
                        </a><a href="#"><img src="/App/images/widgets/i6.jpg" alt="" /></a>
                        <div class="clearfix"></div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>